name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: get
        run: bash script-get.sh
      - name: Push
        run: |
          git config user.name luxysiv
          git config user.email luxysiv@users.noreply.github.com
          git add *.js
          git commit --amend -m "Cập nhật $(date +"%Y-%m-%d %H:%M:%S")" --author="luxysiv <luxysiv@users.noreply.github.com>"
          git push --force
